html {
    background-color: beige;
}
button {
    padding: 10px;
    background-color: maroon;
    color: white;
    width: 150px;
}
#courseTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #820010;
}
#addButtons {
   text-align: center;
}
.assessment{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.assessment th{
    background-color: gold;
}
.assessment td{
    font-size: 14px;
    padding: 1px 60px;
    border: 1px solid black;
    border-collapse: collapse;
}
.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1%;
}