* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 auto;
    padding: auto;
}
.container{
    display:flex;
}
#loginArea {
    padding: 10em;
}
#header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 600;      
    color: #820010;
}
#logoutForm {
    width: 300px;
    line-height: 2.5;
}
#logoutMessage {
    font-weight: 300;
    font-size: 1.7em;
    text-align: left;
}
#successMessage {
    color: green;
}

#submitButton {
    background-color: #820010;
    color: white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 300px;
}
